body {
    background-color: black;
}

.container {
    color: black;
    background-color: orangered;
    border: black solid 10px;
    padding: 2%;
    text-align: center;
    font-size: 50px;
}

.container-fluid {
    background-color: green;
    color: purple;
    width: 40cm;
    padding: 10px 20px;
    border: 5cm;
    border-radius: 10px;
    height: 180px;
    display: grid;
}

h2 {
    color: blue;
    background-color: aqua;
}

.fixed-bottom {
    background-color: white;
}

.form {
    background: orange;
    width: 15cm;
    padding: 10px 20px;
    border-radius: 10px;
    height: 360px;
    
}


.label {
    width: 140px;
    display: inline-block;
    margin: 0.2cm;
    font-size: 16px;
    font-weight: bold;
   
}

input{
    padding: 4px;
    margin: 5px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid gray;
    width: 7cm;
    
}

input#submit{
    margin-top: 7px;
    color: black;
    font-weight: bold;
    padding: 4px;
    background-color: rgb(192, 176, 186);

}

input#submit:hover{
    background-color: aquamarine;
    color: bisque;
}

h2{
    text-align: center;
    text-decoration: none;
    font-size: 24px;
}

.btn-btn-success {

}